@import url("normalize.css");

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  
  .home-h1 {
    font-size: 10rem;
    color: #fcfcfc;
    margin-bottom: 0;
  }
  
  .home-p {
    font-size: 3rem;
    color: #b8b8b8;
    text-align: center;
    margin-top: 0;
  }
}